*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-container{
    background-color: lightblue;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

/*******PROFILE PICTURE**********/
.picture-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid red;
}

.pic-bg{
    width: 100%;
}

.profile-pic{
    position: relative;
    bottom: 50px;
    border-radius: 50%;
}
/*******************************/

/*********TEXT CONTENT**********/
h1,
p{
    font-size: 18px;
}

header{
    text-align: center;
}


/*******************************/

